.myForm {
    max-width: 90%;
    padding: 1rem;
}
.borderFrame{
    position:relative;
}
#wrapper {
    position:relative;
}
.scroll-container{
    overflow-y: scroll;
}
.hidden{
    display:none;
}
.fadeIn{animation-name:fadeInAnime;animation-duration:1s;animation-fill-mode:forwards;opacity:0;}
@keyframes fadeInAnime{from {opacity: 0;}to {opacity: 1;}}