<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VISUAL_FEEDBACK</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .form-signin {
            max-width: 90%;
            padding: 1rem;
            }
            textarea {
            resize: none;
            }
        </style>
    </head>
    <body class="bg-faded">
        <main class="form-signin w-100 m-auto">
            <form action="/pre-eval" method="post">
                    <label for="Input" class="form-label">put your any thoughts into words.</label>
                    <textarea class="form-control mb-3" id="Input" rows="10" placeholder="put your any thoughts into words." name="disclosure"></textarea>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <button type="reset" class="btn btn-danger" onclick="document.getElementById('Input').value = ''">Reset</button>
                            </div>
                            <div class="col text-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
            </form>
        </main>
    </body>
</html>