<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>「こまめなストレス発散における視覚的フィードバックの選択傾向に関する調査分析」調査用ページ</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="./static/src/style.css" rel="stylesheet">
        <style>
            /* #disclosure {
                resize: none;
            } */
            #choice{
                display: none;
            }
        </style>
    </head>
    <body class="bg-faded">
        <main class="myForm w-100 m-auto ">
            <div class="border-top border-bottom border-3 border-dark borderFrame">
                <form action="/" method="post" name="myForm" class="was-validated">
                    <div>
                        <h2 class="mt-3 fw-bold"><label for="disclosure" class="form-label">今日幸せに感じたことを記入してください。</label></h2>
                        
                        <textarea class="form-control" id="disclosure" rows="10" placeholder="" name="disclosure_happy" required></textarea>

                        <div class="form-group mt-3 mb-3">
                            <div class="row">
                                <div class="col">
                                    <button type="reset" class="btn btn-danger" onclick="document.getElementById('disclosure').value = ''">リセット</button>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" id="modalButton">提出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="w-100 modal-title">
                                        ご回答ありがとうございます。
                                    </div>
                                </div>
                                <!-- <div class="modal-body"></div> -->
                                <div class="modal-footer">
                                    <div class="row w-100">
                                        <div class="col"></div>
                                        <div class="col"><button type="submit" class="btn btn-primary w-75" onclick="Submit()">終了</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script>
            function Submit(){
                const submitButton = document.querySelector("#submitButton");
                submitButton.disabled = true;
                submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>終了';
                document.myForm.submit();
            }
        </script>
        <script src="./static/src/style.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>