<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VISUAL_FEEDBACK</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .myForm {
            max-width: 90%;
            padding: 1rem;
            }
            .borderFrame{
                height:95vh;
            }
            textarea {
                resize: none;
                height:65vh;
            }

            #choice{
                display: none;
            }
            .fadeIn{animation-name:fadeInAnime;animation-duration:1s;animation-fill-mode:forwards;opacity:0;}
            @keyframes fadeInAnime{from {opacity: 0;}to {opacity: 1;}}
        </style>
    </head>
    <body class="bg-faded">
        <main class="myForm w-100 m-auto ">
            <div class="border-top border-bottom border-3 border-dark borderFrame">
                <form action="/feedback" method="post" class="was-validated">
                    <div>
                        <h1 class="mt-3 fw-bold"><label for="Input" class="form-label">今日ストレスに感じたことを記入してください。</label></h1>
                        
                        <textarea class="form-control" id="Input" rows="10" placeholder="" name="disclosure" required></textarea>
                        <div class="invalid-feedback">文章を記入してください。</div>

                        <div class="form-group mt-3 mb-3">
                            <div class="row">
                                <div class="col">
                                    <button type="reset" class="btn btn-danger" onclick="document.getElementById('Input').value = ''">リセット</button>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">提出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">書いた内容を</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="w-100 mb-2"><button type="submit" class="btn btn-primary w-100" name="fb" value="interactive">タップして弾き飛ばす</button></div>
                                    <div class="w-100 mb-2"><button type="sbumit" class="btn btn-primary w-100" name="fb" value="passive">傾けてバラバラにする</button></div>
                                    <div class="w-100 mb-2"><button type="submit" class="btn btn-primary w-100" name="fb" value="avoidance">置いておいて深呼吸をする</button></div>
                                    <div class="w-100 mb-2"><button type="submit" class="btn btn-primary w-100" name="fb" value="none">何もしない</button></div>
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>