<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VISUAL_FEEDBACK</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="./static/src/style.css" rel="stylesheet">
        <style>
            .letter{
                position:absolute;
                border-radius: 50%;
                color: black;
            }
        </style>
    </head>
    <body class="bg-faded">
        <main class="myForm w-100 m-auto ">
            <div class="border-top border-bottom border-3 border-dark borderFrame">
                <form action="/post-eval" method="get" class="was-validated">
                    <h1 class="mt-3 fw-bold"><label for="Input" class="form-label">ストレス発散<br/>フィードバック</label></h1>
                    <div id="wrapper" class="border border-1 border-secondary">
                        <canvas id="canvas"></canvas>
                    </div>

                    <div class="form-group mt-3 mb-3">
                        <div class="row">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-primary">Exit!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script>
            const Text = {{text|tojson}};
            // const Text="今日はこっちの地方は土砂降りの晴天でした。"
        </script>
        <script src="./static/src/style.js"></script>
		<script src="./static/src/matter.js"></script>
		<script src="./static/src/m.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>