<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VISUAL_FEEDBACK</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="bg-faded">
        <!-- header  -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card my-2">
                            <div class="card-body">
                                <h4 class="card-titlet text-center">Now, please assess mental health self-care techniques.</h4>
                                <p class="card-text text-center">The techniques below have been contributed by participants just like you. Assess at least three to move on to the final stage.</p>
                            </div>
                        </div>
                        <!-- Section to guide to end.php -->
                        <div id="customFinalMsgCard" class="card my-2 initiallyhidden">
                            <div class="card-body">
                                <h2 class="card-title text-success text-center" id="customFinalMsgTitle">Continue to the final stage!</h2>
                                <p id="customFinalMsgBody" class="card-text font-italic text-center "><a href="https://ab3000.net/campaigns/mh/end.php">Proceed to the final stage of the study by clicking here</a>.<br><br>However, we also encourage you to continue assessing techniques, or to provide your own technique(s). It will help the community and our research.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/static/src/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/src/bootstrap.bundle.min.js"></script> 
        <script>
            // const applicationURL="https://questionnaire-perj.onrender.com";
            const applicationURL="http://127.0.0.1:5000";            
            $.get(applicationURL)
                .done(function(data) {
                console.log( data );
            })

            // submit new option.
            $("#submitOptionButton").on("click", function(event) {
                // ajax transmission.
                $.ajax({
                    type        : "POST",
                    url         : applicationURL,
                    contentType : 'application/json',
                    data        : JSON.stringify(request),
                    async       : true, //true:async(default), false:sync
                })
                .done(function(data) {   // 
                })
                .fail(function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                });
            })
        </script>
    </body>
</html>