<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>「こまめなストレス発散における視覚的フィードバックの選択傾向に関する調査分析」調査用ページ</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./static/src/style.css">
        <style>
            footer{
                position:absolute;
                bottom: 0;
            }
            #withdrawalButton{
                height:25px;
                font-size: 10px;
            }
            .bd-callout{
                border-left: 0.25rem solid #c0c0c0;
                background-color: #f0f0f0;
                padding: 1rem;
            }
            .mini{
                font-size: 0.75rem;
            }
            .big{
                font-size: 2rem;
            }
            .btn-emoji{
                padding: 0;
            }
        </style>
    </head>
    <body class="bg-faded">
        <main class="myForm w-100 m-auto">
            <div class="border-top border-bottom border-3 border-dark borderFrame">
                <div class="mt-3 fw-bold">「こまめなストレス発散における視覚的フィードバックの選択傾向に関する調査分析」ホームページ</div>
                <div class="h-100 form-group mt-1 mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold mini">
                            Day: <span id="day"></span>
                        </div>
                        <div class="mini">
                            ユーザ名: <span class="fst-italic" id="crowdworksUsername"></span>
                        </div>
                    </div>
                    <div class="mt-1 mb-3">
                        <input class="hidden" name="p"><input class="hidden" name="l"><input class="hidden" name="c">
                        <div class="mb-1">今日ストレスに感じたことがあれば右、そうでなければ左の顔文字をタップしてください。</div>
                        <div class="row">
                            <div class="col w-100 text-center">
                                <form action="/disclosure_happy" method="post">
                                    <input class="hidden" name="p"><input class="hidden" name="l"><input class="hidden" name="c">
                                    <button type="submit" class="btn btn-emoji btn-success w-50" id="happyButton" disabled><i class="bi bi-emoji-laughing big"></i></button>
                                </form>
                            </div>
                            <div class="col w-100 text-center">
                                <form action="/disclosure" method="post">
                                    <input class="hidden" name="p"><input class="hidden" name="l"><input class="hidden" name="c">
                                    <button type="submit" class="btn btn-emoji btn-danger w-50" id="disclosureButton" disabled><i class="bi bi-emoji-frown big"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="bd-callout">
                        <div class="mt-3 text-center w-100 h-100" id="spinner">
                            <div class='spinner-border spinner-border-lg' role='status' aria-hidden='true'></div>
                            <div> Loading...</div>
                        </div>
                        <label id="msg" class="me-1 fadeIn"></label>
                        <form action="/register" method="post" class="fadeIn hidden form-inline" id="registerDiv">
                            <input class="hidden" name="p"><input class="hidden" name="l"><input class="hidden" name="c">
                            <button type="submit" class="btn btn-light" id="registerButton"><span>登録</span><i class="bi bi-pencil-square ms-1"></i></button>
                        </form>
                        <form action="/final-eval" method="post" class="fadeIn hidden form-inline" id="finalevalDiv">
                            <input class="hidden" name="p"><input class="hidden" name="l"><input class="hidden" name="c">
                            <button type="submit" class="btn btn-light" id="finalevalButton">回答<i class="bi bi-pencil-square ms-1"></i></button>
                        </form>
                    </div>
                    <footer class="mb-3 hidden fadeIn" id="withdrawalFooter">
                        <span class="mini fw-lighter">実験の同意撤回を希望の際は実験中止ボタンを押してください。</span>
                        <button type="submit" class="btn btn-sm btn-link" id="withdrawalButton">実験中止<i class="bi bi-box-arrow-up-right ms-1"></i></button>
                    </footer>
                </div>
            </div>
        </main>
        <script src="./static/src/style.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
            function ChangebyProgress(progress, lastAccess,username,crowdworksUsername){
                document.getElementsByName("p").forEach((elem)=>{elem.value=progress;})
                document.getElementsByName("l").forEach((elem)=>{elem.value=lastAccess;})
                document.getElementsByName("c").forEach((elem)=>{elem.value=crowdworksUsername;})
                document.querySelector("#crowdworksUsername").innerHTML=crowdworksUsername;
                console.log("progress: " + progress)
                const day = document.querySelector("#day");
                day.innerHTML=progress+1;
                const msg = document.querySelector("#msg");
                // progress=-1;

                const d = new Date();
                let today5am = 0;
                if(d.getHours()<5){
                    // if it's before 5am
                    d.setDate(d.getDate()-1);
                    today5am = (((d.getFullYear()*100 + d.getMonth()+1)*100 + d.getDate())*100 + 5)*100;
                }
                else{
                    today5am = (((d.getFullYear()*100 + d.getMonth() +1)*100 + d.getDate())*100 + 5)*100;
                }

                if(progress==-2 || lastAccess==-2){
                    // invalid access;
                    day.innerHTML=0;
                    msg.innerHTML="LINE botより送信されたリンクからアクセスしてください。";
                }
                else if(progress==-1){
                    msg.innerHTML="最初にCrowdWorksのユーザ名を登録し事前アンケートにお答えください。";
                    document.querySelector("#registerDiv").classList.remove("hidden");
                    msg.htmlFor = "registerButton";
                }
                else if(progress>28){
                    day.innerHTML=28;
                    msg.innerHTML="研究にご協力いただきありがとうございました。LINE botを友達解除しCrowdWorksにて納品完了報告をお願いします。";
                }
                else if(progress==28){
                    day.innerHTML=28;
                    msg.innerHTML="最後に事後アンケートにお答えください。"
                    document.querySelector("#finalevalDiv").classList.remove("hidden");
                    msg.htmlFor = "finalevalButton";
                }
                else if(progress!=0 && lastAccess>today5am){
                    msg.innerHTML="本日の実験は実施済みです。<br/>回答ありがとうございます。"
                }
                else if(progress<3){
                    msg.innerHTML="実験1~3日目は右の顔文字をタップして実験を開始してください。";
                    const disclosureButton = document.querySelector("#disclosureButton");
                    disclosureButton.disabled = false;
                }
                else{
                    msg.innerHTML="どちらかの絵文字をタップして実験を開始してください。";
                    const disclosureButton = document.querySelector("#disclosureButton");
                    const happyButton = document.querySelector("#happyButton");
                    disclosureButton.disabled = false;
                    happyButton.disabled = false;
                }
                if(progress>=-1){
                    const withdrawalButton = document.querySelector("#withdrawalButton");
                    const withdrawalUrl = "https://docs.google.com/forms/d/e/1FAIpQLSeutnzmM2YhV7HQ5AyMPRcPgjbnQaJlbLnDqKHVQBl6hS0Ddw/viewform?usp=pp_url&entry.1265895045=" + username;
                    withdrawalButton.addEventListener("click", ()=>{location.href=`${withdrawalUrl}`;});
                    const withdrawalFooter = document.querySelector("#withdrawalFooter");
                    withdrawalFooter.classList.remove("hidden");
                }
                document.querySelector("#spinner").classList.add("hidden");
            }

            // if empty, assigned '' or -1.
            const usernameFromSession = {{username|tojson}}; 
            const progressFromSession = Number( {{progress|tojson}} );
            const lastAccessFromSession = Number( {{last_access|tojson}} );
            const crowdworksUsername = {{crowdworks_username|tojson}};

            window.addEventListener("load",async ()=>{
                if(usernameFromSession == '') {
                    // invalid access;
                    document.querySelector("#msg").innerHTML="LINE botより送信されたリンクからアクセスしてください。<br/>";
                    document.querySelector("#spinner").classList.add("hidden");
                }
                else{
                    console.log(progressFromSession,lastAccessFromSession, crowdworksUsername)
                    if(progressFromSession==-2 || lastAccessFromSession==-2){
                        const gasUrl = "https://script.google.com/macros/s/AKfycbwb91Uo_PzP3e_8cBJeoEWlfEFjG1Sh-vPT3s31SaHULbfQN2gOmnoBCCcQJZAu0GaTKg/exec";
                        fetch(`${gasUrl}?username=${usernameFromSession}`, {
                            mode:'cors',
                        })
                        .then((res)=>{
                            console.log(res);
                            return( res.json() );
                        })
                        .then((json)=>{
                            console.log(json);
                            ChangebyProgress(json.progress, json.lastAccess,json.username, json.crowdworksUsername);
                        });
                    }
                    else{ChangebyProgress(progressFromSession, lastAccessFromSession,usernameFromSession,crowdworksUsername)}
                }
            });
        </script>
    </body>
</html>