<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VISUAL_FEEDBACK</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./static/src/style.css">
        <style>

            .progress-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                max-width: 100%;
                width: 350px;
                position: relative
            }
            .progress-container::before {
                content: "";
                background-color: grey;
                position: absolute;
                top: 50%;
                left: 0;
                height: 4px;
                width: 99%;
                transform: translateY(-50%);
                z-index: -1;
            }
            .scroll{
                position:relative;
                overflow: hidden;
            }
            .btn-circle{
                height:50px;
                width:50px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 3px solid grey;
                transition: .4s ease;
            }
            footer{
                position:absolute;
                bottom: 0;
            }
            .btn-instruction{
                height:30px;
                font-size: 10px;
            }
        </style>
    </head>
    <body class="bg-faded">
        <main class="myForm w-100 m-auto">
            <div class="border-top border-bottom border-3 border-dark borderFrame">
                <div class="mt-3 fw-bold">「こまめなストレス発散における視覚的フィードバックの選択傾向に関する調査分析」ホームページ</div>
                <div class="h-100 form-group mt-3 mb-3">
                    <div class="w-100 d-flex justify-content-between">
                        <h5 class="fw-bold">WEEK: <span id="week">0</span></h5>
                        <button class="btn btn-sm btn-outline-dark btn-instruction">フィードバックの説明</button>
                    </div>
                    <form action="/disclosure" method="get">
                        
                        <div class="w-100 progress-container mt-3 mb-3 d-flex justify-content-between">
                            <button type="submit" class="btn btn-secondary btn-circle text-center" onclick="event.preventDefault();"><i class="bi bi-chat fs-1"></i></button>
                            <button type="submit" class="btn btn-secondary btn-circle text-center" onclick="event.preventDefault();"><i class="bi bi-chat fs-1"></i></button>
                            <button type="submit" class="btn btn-secondary btn-circle text-center" onclick="event.preventDefault();"><i class="bi bi-chat fs-1"></i></button>
                            <button type="submit" class="btn btn-secondary btn-circle text-center" onclick="event.preventDefault();"><i class="bi bi-chat fs-1"></i></button>
                        </div>
                        <div class="w-100 progress-container mt-3 mb-3 d-flex justify-content-between">
                            <button type="submit" class="btn btn-secondary btn-circle text-center" onclick="event.preventDefault();"><i class="bi bi-chat fs-1"></i></button>
                            <button type="submit" class="btn btn-secondary btn-circle text-center" onclick="event.preventDefault();"><i class="bi bi-chat fs-1"></i></button>
                            <button type="submit" class="btn btn-secondary btn-circle text-center" onclick="event.preventDefault();"><i class="bi bi-chat fs-1"></i></button>
                            <button type="submit" class="btn btn-primary btn-circle text-center" onclick="event.preventDefault();"><span class="bi bi-award fs-1"></span></button>
                        </div>
                    </form>
                    <span id="msg"></span>
                    <form action="/register" method="get" class="hidden" id="registerButton">
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">登録</button>
                        </div>
                    </form>
                    <form action="/final-eval" method="get" class="hidden" id="finalevalButton">
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">答える</button>
                        </div>
                    </form>
                    <footer class="mb-3 hidden fadeIn" id="withdrawalFooter">
                        <span class="fs-6 fw-lighter">実験の同意撤回を希望の際は実験中止ボタンを押してください。</span>
                        <button type="submit" class="btn btn-sm btn-outline-dark" id="withdrawalButton">実験中止</button>
                    </footer>
                </div>
                <div class="mt-5 text-center w-100 h-100" id="spinner">
                    <div class='spinner-border spinner-border-lg' role='status' aria-hidden='true'></div>
                    <div> Loading...</div>
                </div>
            </div>
        </main>
        <script src="./static/src/style.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
            const usernameFromSession = {{username|tojson}}; 

            window.addEventListener("load",async ()=>{
                const tempUrl = new URL(window.location.href);
                const usernameFromUrl = tempUrl.searchParams.get('username');
                let username = null;
                if(usernameFromSession != null && usernameFromSession != undefined && usernameFromSession!=''){
                    username = usernameFromSession;
                }
                else if(usernameFromUrl != null && usernameFromUrl != undefined){
                    username = usernameFromUrl;
                }
                console.log("username: ", username)
                if(username == null && username == undefined) {
                    // not registered;
                    document.querySelector("#msg").innerHTML="LINE botより送信されたリンクからアクセスしてください。<br/>";
                    document.querySelector("#msg").classList.add("fadeIn");
                    document.querySelector("#spinner").classList.add("hidden");
                }
                else{
                    const gasUrl = "https://script.google.com/macros/s/AKfycbwb91Uo_PzP3e_8cBJeoEWlfEFjG1Sh-vPT3s31SaHULbfQN2gOmnoBCCcQJZAu0GaTKg/exec";
                    const params = {'username': username};const query_params = new URLSearchParams(params); 
                    fetch(`${gasUrl}?username=${username}`, {
                        mode:'cors',
                    })
                    .then((res)=>{
                        console.log(res);
                        return( res.json() );
                    })
                    .then((json)=>{
                        console.log(json.username);
                        // how many days have been ended.
                        // if not registered progress = -1;
                        const progress = json.progress;
                        // const progress = 10;
                        console.log("progress: " + progress)
                        const week = Math.ceil((progress + 0.5) / 7);
                        document.querySelector("#week").innerHTML=week;
                        if(progress<0){
                            document.querySelector("#msg").innerHTML="最初にCrowdWorksのユーザ名を登録し事前アンケートにお答えください。";
                            document.querySelector("#msg").classList.add("fadeIn");
                            document.querySelector("#registerButton").classList.remove("hidden");
                            document.querySelector("#registerButton").classList.add("fadeIn");
                        }
                        else {
                            if(progress>=28){
                                document.querySelector("#msg").innerHTML="最後に事後アンケートにお答えください。"
                                document.querySelector("#msg").classList.add("fadeIn");
                                document.querySelector("#finalevalButton").classList.remove("hidden");
                                document.querySelector("#finalevalButton").classList.add("fadeIn");
                            }
                            else{
                                
                                const day = progress % 7;
                                const btns = document.querySelectorAll(".btn-circle");
                                for(let i=0;i<day;i++){
                                    btns[i].classList.remove("btn-secondary");
                                    btns[i].classList.add("btn-primary");
                                    btns[i].innerHTML='<span class="bi bi-check fs-1"></span>';
                                }

                                if(json.todayAccess){
                                    document.querySelector("#msg").innerHTML="本日の実験は実施済みです。<br/>回答ありがとうございます。<br/><br/>"
                                    document.querySelector("#msg").classList.add("fadeIn");
                                }
                                else{
                                    document.querySelector("#msg").innerHTML="白い吹き出しボタンをクリックして実験を開始してください";
                                    //invalid the button
                                    // span "you have already accessed"
                                    btns[day].classList.remove("btn-secondary");
                                    btns[day].classList.add("btn-light");
                                    btns[day].innerHTML='<span class="bi bi-chat-dots fs-1"></span>';
                                    btns[day].onclick = "";
                                }
                                const withdrawalButton = document.querySelector("#withdrawalButton");
                                const withdrawalUrl = "https://docs.google.com/forms/d/e/1FAIpQLSeutnzmM2YhV7HQ5AyMPRcPgjbnQaJlbLnDqKHVQBl6hS0Ddw/viewform?usp=pp_url&entry.1265895045=" + username;
                                withdrawalButton.addEventListener("click", ()=>{location.href=`${withdrawalUrl}`;});
                                const withdrawalFooter = document.querySelector("#withdrawalFooter");
                                withdrawalFooter.classList.remove("hidden");
                            }
                        }
                        document.querySelector("#spinner").classList.add("hidden");
                    });
                }
            });
        </script>
    </body>
</html>