<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VISUAL_FEEDBACK</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .form-signin {
            max-width: 75%;
            padding: 1rem;
            }
        </style>
        <script>
            window.onload=function(){
                // height, width
                const SCREEN_WIDTH = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                const SCREEN_HEIGHT = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
                const Bigfive = document.getElementById("bigfive");
                Bigfive.height=SCREEN_HEIGHT;
            };
        </script>
    </head>
    <body class="bg-faded">
        <div>Big Five (imported from https://bigfive-test.com/test/) </div>
        <main class="form-signin w-100 m-auto">
            <div id="result"></div>
            <form action="/register" method="post">
                <button class="btn btn-primary w-100 py-2" type="button" onclick="Alert()">Alert</button>
                <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
            </form>
        </main>
        <iframe src="https://bigfive-test.com/test/" class="w-100 ratio ratio-1x1" id="bigfive"></iframe>
        <script>
            const URL = 'https://bigfive-test.com/result/58a70606a835c400c8b38e84';
            const METHOD = 'GET';
            const ASYNC = true;
            const xhr = new XMLHttpRequest();
            xhr.open(METHOD, URL, ASYNC);
            xhr.onload = function(e) {
                if (this.status === 200) {
                    console.log(this.responseXML.title);
                    document.getElementById("result").innerText = this.responseXML.title;
                }
                
            };
            xhr.send(null);
        </script>
        <script src="./static/src/register.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>