<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>「こまめなストレス発散における視覚的フィードバックの選択傾向に関する調査分析」調査用ページ</title>
        <meta name="description" content="tendency of visual feedback choice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/src/style.css" rel="stylesheet">
    </head>
    <body class="bg-faded">
        <main class="myForm w-100 m-auto ">
            <div class="border-top border-bottom border-3 border-dark borderFrame">
                <form action="/" method="post" name="myForm">
                    <h6 class="mt-3">それぞれのフィードバックのデザインについて、それがどのようなものであると感じるかそれぞれの違いがわかるようにお答えください。</h6>
                    <div class="modal-body was-validated scroll-container">
                        <div>
                            <label for="ch0" class="form-label">タップして弾き飛ばすデザイン</label>
                            <textarea class="form-control" rows="1" name="ch0" id="ch0" required></textarea>
                            <div class="invalid-feedback">文章を入力してください。</div>
                        </div>
                        <div>
                            <label for="ch1" class="form-label mt-3">バラバラになって消えるデザイン</label>
                            <textarea class="form-control" rows="1" name="ch1" id="ch1" required></textarea>
                            <div class="invalid-feedback">文章を入力してください。</div>
                        </div>
                        <div>
                            <label for="ch2" class="form-label mt-3">置いておき深呼吸をするデザイン</label>
                            <textarea class="form-control" rows="1" name="ch2" id="ch2" required></textarea>
                            <div class="invalid-feedback">文章を入力してください。</div>
                        </div>
                        <div>
                            <label for="ch3" class="form-label mt-3">何もしないデザイン</label>
                            <textarea class="form-control" rows="1" name="ch3" id="ch3" required></textarea>
                            <div class="invalid-feedback">文章を入力してください。</div>
                        </div>
                        <div class="row w-100 m-auto mt-3">
                            <div class="col"></div>
                            <div class="col text-end">
                                <button class="btn btn-primary m-auto fadeIn" type="button" id="submitButton" onclick="Submit()" disabled>提出</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script>
            const submitButton = document.querySelector("#submitButton");
            document.querySelector(".scroll-container").addEventListener("change",()=>{
                const idList = ["ch0","ch1","ch2","ch3"];
                let flag = true;
                idList.forEach((elem)=>{
                    console.log(document.getElementById(elem).value=='');
                    if(document.getElementById(elem).value==''){
                        flag=false;
                        return;
                    }
                })
                if(flag){submitButton.disabled = false;}
            });
            function Submit(){
                submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>提出';
                submitButton.disabled = true;
                document.myForm.submit();
            }
        </script>
        <script src="../static/src/style.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>